node_modules
.next
out
build
.env
.env.local
.env*.local
.DS_Store
*.log
.vercel
.idea
.vscode
next-env.d.ts
.turbo
__pycache__/
*.pyc
.venv/

# TS incremental build cache (nao versionar)
tsconfig.tsbuildinfo
*.tsbuildinfo
.next.old
.next.livebak
.next.*
.env.local.bak*
